<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="js/jquery-1.12.2.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
	currentSlide(1);
	})
	</script>
	<link rel="stylesheet" type="text/css" href="css/mystyle.css">
	<title>This is site logo</title></head>
</head>

<body class="front intro">
	<div class="wrapper">
				{{>header}}
				{{{body}}}
				{{>footer}}
</div>
</body>
</html>
